{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<div class="breadcrumb-container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home')}}">Accueil</a></li>
        <li class="breadcrumb-item active">Se connecter</li>
    </ol>
    <div class="d-flex justify-content-between">
        <h1>{{ title }}</h1>
    </div>
</div>

<div class="row">
    <form method="post" class="col-12">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('security_logout') }}">Logout</a>
            </div>
        {% endif %}
        <div class="form-group">
            <label for="inputEmail" class="sr-only">Adresse email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Adresse email" required autofocus>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="sr-only">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
        </div>

        <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}" />

        <button class="btn btn-primary" type="submit">
            Se connecter
        </button>
    </form>

    <div class="col-12 mt-5">
        <p>Pas encore enregistré ? <a href="{{ path('security_register') }}">Inscrivez-vous ici</a> !</p>
    </div>
</div>


{% endblock %}
